/********************************
 * https://github.com/ttscoff/MarkedCustomStyles/blob/master/github-updated.css 
 * s/#wrapper/body/g
 *******************************/

body {
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
  text-size-adjust:100%
}

body aside, body article, body details, body figcaption, body figure, body footer, body header, body hgroup, body main, body menu, body nav, body section, body summary {
  display:block
}

body audio, body canvas, body progress, body video {
  display: inline-block;
  vertical-align:baseline
}

body audio:not([controls]) {
  display: none;
  height:0
}

body [hidden], body template {
  display:none
}

body a {
  background-color:transparent
}

body a:active, body a:hover {
  outline:0
}

body abbr[title] {
  border-bottom:1px dotted
}

body b, body strong {
  font-weight:bold
}

body dfn {
  font-style:italic
}

body mark {
  background: #ff0;
  color:#000
}

body small {
  font-size:80%
}

body sub, body sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align:baseline
}

body sup {
  top:-.5em
}

body sub {
  bottom:-.25em
}

body img {
  border:0
}

body svg:not(:root) {
  overflow:hidden
}

body figure {
  margin:1em 40px
}

/* body hr { */
/*     box-sizing: content-box; */
/*     height:0 */
/* } */

body pre {
  overflow:auto
}

body code, body kbd, body pre, body samp {
  font-family: monospace, monospace;
  font-size:1em
}

body button, body input, body optgroup, body select, body textarea {
  color: inherit;
  font: inherit;
  margin:0
}

body button {
  overflow:visible
}

body button, body select {
  text-transform: none
}

body button, body input[type='button'], body input[type='reset'], body input[type='submit'] {
  -webkit-appearance: button;
  cursor:pointer
}

body button[disabled] {
  cursor:default
}

body button::-moz-focus-inner, body input::-moz-focus-inner {
  border: 0;
  padding:0
}

body input {
  line-height: normal
}

body input[type='checkbox'], body input[type='radio'] {
  box-sizing: border-box;
  padding: 0
}

body input[type='number']::-webkit-inner-spin-button, body input[type='number']::-webkit-outer-spin-button {
  height: auto
}

body input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box
}

body input[type='search']::-webkit-search-cancel-button, body input[type='search']::-webkit-search-decoration {
  -webkit-appearance:none
}

body fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding:0.35em 0.625em 0.75em
}

body legend {
  border: 0;
  padding:0
}

body textarea {
  overflow:auto
}

body optgroup {
  font-weight:bold
}

body table {
  border-collapse: collapse;
  border-spacing:0
}

body * {
  box-sizing:border-box
}

body input, body select, body textarea, body button {
  font: 14px/21px -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
}

body body {
  font: 14px/21px -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #333;
  background-color:#fff
}

body a {
  color: #4078c0;
  text-decoration:none
}

body a:hover, body a:active {
  text-decoration:underline
}

body .rule {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
  height: 0;
  margin: 15px 0;
  overflow:hidden
}

body hr:before, body .rule:before {
  content: '';
  display:table
}

body hr:after, body .rule:after {
  clear: both;
  content: '';
  display:table
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: 600;
  line-height: 1.1;
  margin: 24px 0 16px;
  padding:0
}

body h1, body h2 {
  /* border-bottom:1px solid #eaecef */
}

body h1 {
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 16px;
  padding:0 0 9.600000381469727px;
  padding-top: 0.3em;
}

body h2 {
  font-size: 24px;
  line-height: 30px;
  padding:0 0 7.199999809265137px;
  padding-top: 0.4em;
  background-color: #eee;
}

body h3 {
  font-size: 20px;
  line-height:25px
}

body h4 {
  font-size: 16px;
  line-height: 20px;
  margin: 24px 0 16px;
  padding:0
}

body h5 {
  font-size: 14px;
  line-height:17px
}

body h6 {
  font-size: 13.600000381469727px;
  line-height:17px
}

body small {
  font-size:90%
}

body blockquote {
  margin:0
}

body ol ol, body ul ol {
  list-style-type:lower-roman
}

body ul ul ol, body ul ol ol, body ol ul ol, body ol ol ol {
  list-style-type:lower-alpha
}

body dd {
  margin-left:0
}

body tt, body code, body pre {
  font-family:SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace
}

body pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
  margin-top: 0;
  margin-bottom:0
}

body {
  -webkit-font-smoothing: antialiased;
  background: #fff;
  border: solid 0px #dddddd !important;
  border-radius: 3px;
  color: #333;
  font: 14px -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  line-height: 1.6;
  padding:3px
}

p {
  margin:1em 0
}

a {
  color: #4183c4;
  text-decoration:none
}

body {
  background-color: #fff;
  font-size: 16px;
  line-height: 1.6;
  margin: 15px;
  padding:30px
}

body > * :first-child {
  margin-top:0 !important
}

body > * :last-child {
  margin-bottom:0 !important
}

@media screen {
  body {
    border:solid 1px #ddd
  }
}

p, blockquote, ul, ol, dl, table, pre {
  margin-bottom:16px
}

hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border:0 none
}

ul, ol {
  padding-left:2.8rem
}

ul.no-list, ol.no-list {
  padding: 0;
  list-style-type:none
}

ul ul, ul ol {
  margin-top: 0;
  margin-bottom:0
}

ol ol, ol ul {
  margin-top: 0;
  margin-bottom:0
}


li > p {
  margin-bottom:0
}

li p + p {
  margin-top:16px
}

dl {
  padding:0
}

dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight:700
}

dl dd {
  padding: 0 16px;
  margin-bottom:16px
}

blockquote {
  margin-left: 0;
}

blockquote > :first-child {
  margin-top:0
}

blockquote > :last-child {
  margin-bottom:0
}

/* table { */
/*     display: block; */
/*     width: 100%; */
/*     overflow:auto */
/* } */

table th {
  font-weight: 700;
  padding: 6px 13px;
  border:1px solid #ddd
}

table td {
  padding: 6px 13px;
  border:1px solid #ddd
}

table tr {
  background-color: #fff;
  border-top:1px solid #ccc
}

table tr:nth-child(2n) {
  background-color:#f8f8f8
}

img {
  max-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing:border-box
}

span.frame {
  display: block;
  overflow:hidden
}

span.frame > span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border:1px solid #ddd
}

span.frame span img {
  display: block;
  float:left
}

span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color:#333
}

span.align-center {
  display: block;
  overflow: hidden;
  clear:both
}

span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align:center
}

span.align-center span img {
  margin: 0 auto;
  text-align:center
}

span.align-right {
  display: block;
  overflow: hidden;
  clear:both
}

span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align:right
}

span.align-right span img {
  margin: 0;
  text-align:right
}

span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow:hidden
}

span.float-left span {
  margin:13px 0 0
}

span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow:hidden
}

span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align:right
}

code, tt {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding-bottom: .2em;
  padding-top: .2em;
  padding:0
}

code::before, code::after {
  content: '\00a0';
  letter-spacing:-.2em
}

tt:before, tt:after {
  content: '\00a0';
  letter-spacing:-.2em
}

code br, tt br {
  display:none
}

del code {
  text-decoration: inherit;
  vertical-align:text-top
}

pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  white-space: pre;
  background: transparent;
  border:0
}

.highlight {
  margin-bottom:16px
}

.highlight pre {
  padding: 16px;
  margin-bottom: 0;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius:3px
}

pre {
  padding: 16px;
  margin-bottom: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
  word-wrap:normal
}

pre code, pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border:0
}

pre code:before, pre code:after {
  content:normal
}

pre tt:before, pre tt:after {
  content:normal
}

.poetry pre {
  font-family: Georgia, Garamond, serif !important;
  font-style: italic;
  font-size: 110% !important;
  line-height: 1.6em;
  display: block;
  margin-left:1em
}

.poetry pre code {
  font-family: Georgia, Garamond, serif !important;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  white-space:pre-wrap
}

sup, sub, a.footnote {
  font-size: 1.4ex;
  height: 0;
  line-height: 1;
  vertical-align: super;
  position:relative
}

sub {
  vertical-align: sub;
  top:-1px
}

@media print {
  body {
    background:#fff
  }

  img, table, figure {
    page-break-inside:avoid
  }

  body {
    background: #fff;
    border: none !important;
    font-size:12px
  }

  pre code {
    overflow:visible
  }
}

@media screen {
  body.inverted {
    border-color: #555;
    box-shadow: none;
    color:#eee !important
  }

  .inverted body, .inverted hr, .inverted p, .inverted td, .inverted li, .inverted h1, .inverted h2, .inverted h3, .inverted h4, .inverted h5, .inverted h6, .inverted th, .inverted .math, .inverted caption, .inverted dd, .inverted dt, .inverted blockquote {
    border-color: #555;
    box-shadow: none;
    color:#eee !important
  }

  .inverted td, .inverted th {
    background:#333
  }

  .inverted pre, .inverted code, .inverted tt {
    background: #eeeeee !important;
    color:#111
  }

  .inverted h2 {
    border-color:#555555
  }

  .inverted hr {
    border-color: #777;
    border-width:1px !important
  }

  ::selection {
    background:rgba(157, 193, 200, 0.5)
  }

  h1::selection {
    background-color:rgba(45, 156, 208, 0.3)
  }

  h2::selection {
    background-color:rgba(90, 182, 224, 0.3)
  }

  h3::selection, h4::selection, h5::selection, h6::selection, li::selection, ol::selection {
    background-color:rgba(133, 201, 232, 0.3)
  }

  code::selection {
    background-color: rgba(0, 0, 0, 0.7);
    color:#eeeeee
  }

  code span::selection {
    background-color: rgba(0, 0, 0, 0.7) !important;
    color:#eeeeee !important
  }

  a::selection {
    background-color:rgba(255, 230, 102, 0.2)
  }

  .inverted a::selection {
    background-color:rgba(255, 230, 102, 0.6)
  }

  td::selection, th::selection, caption::selection {
    background-color:rgba(180, 237, 95, 0.5)
  }

  .inverted {
    background: #0b2531;
    background:#252a2a
  }

  .inverted body {
    background:#252a2a
  }

  .inverted a {
    color:#acd1d5
  }
}

.highlight {
  background:#fff
}

.highlight .c {
  color: #998;
  font-style:italic
}

.highlight .err {
  color: #a61717;
  background-color:#e3d2d2
}

.highlight .k, .highlight .o {
  font-weight:700
}

.highlight .cm {
  color: #998;
  font-style:italic
}

.highlight .cp {
  color: #999;
  font-weight:700
}

.highlight .c1 {
  color: #998;
  font-style:italic
}

.highlight .cs {
  color: #999;
  font-weight: 700;
  font-style:italic
}

.highlight .gd {
  color: #000;
  background-color:#fdd
}

.highlight .gd .x {
  color: #000;
  background-color:#faa
}

.highlight .ge {
  font-style:italic
}

.highlight .gr {
  color:#a00
}

.highlight .gh {
  color:#999
}

.highlight .gi {
  color: #000;
  background-color:#dfd
}

.highlight .gi .x {
  color: #000;
  background-color:#afa
}

.highlight .go {
  color:#888
}

.highlight .gp {
  color:#555
}

.highlight .gs {
  font-weight:700
}

.highlight .gu {
  color: purple;
  font-weight:700
}

.highlight .gt {
  color:#a00
}

.highlight .kc, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr {
  font-weight:700
}

.highlight .kt {
  color: #458;
  font-weight:700
}

.highlight .m {
  color:#099
}

.highlight .s {
  color:#d14
}

.highlight .n {
  color:#333
}

.highlight .na {
  color:teal
}

.highlight .nb {
  color:#0086b3
}

.highlight .nc {
  color: #458;
  font-weight:700
}

.highlight .no {
  color:teal
}

.highlight .ni {
  color:purple
}

.highlight .ne, .highlight .nf {
  color: #900;
  font-weight:700
}

.highlight .nn {
  color:#555
}

.highlight .nt {
  color:navy
}

.highlight .nv {
  color:teal
}

.highlight .ow {
  font-weight:700
}

.highlight .w {
  color:#bbb
}

.highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
  color:#099
}

.highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx {
  color:#d14
}

.highlight .sr {
  color:#009926
}

.highlight .s1 {
  color:#d14
}

.highlight .ss {
  color:#990073
}

.highlight .bp {
  color:#999
}

.highlight .vc, .highlight .vg, .highlight .vi {
  color:teal
}

.highlight .il {
  color:#099
}

.highlight .gc {
  color: #999;
  background-color:#EAF2F5
}

.type-csharp .highlight .k, .type-csharp .highlight .kt {
  color:blue
}

.type-csharp .highlight .nf {
  color: #000;
  font-weight:400
}

.type-csharp .highlight .nc {
  color:#2b91af
}

.type-csharp .highlight .nn {
  color:#000
}

.type-csharp .highlight .s, .type-csharp .highlight .sc {
  color:#a31515
}

.type-csharp .highlight .k, .type-csharp .highlight .kt {
  color:#00F
}

.type-csharp .highlight .nf {
  color: #000;
  font-weight:normal
}

.type-csharp .highlight .nc {
  color:#2B91AF
}

.type-csharp .highlight .nn {
  color:#000
}

.type-csharp .highlight .s, .type-csharp .highlight .sc {
  color:#A31515
}

body.dark body {
  background: transparent !important;
  box-shadow:none !important
}

kbd {
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
  color: #444d56;
  display: inline-block;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align:middle
}

.inverted kbd {
  background-color: #666;
  color: #fff
}

/*
-----yohasebe-----
 */

@page {
  size: A4 portrait;
  margin: 15mm;
}

body h1, 
body h2, 
body h3, 
body h4, 
body h5,
body h6 {
  color: #00587a;
  font-weight: bold;
}

body blockquote {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-color: #f5f5dc;
  padding: 1em;
}

body hr {
  margin-top: 2em;
  margin-bottom: 2em;
  border-top: 5px solid gray;
}

span.quiz{
  background-color: lightgray;
  color: lightgray;
  font-weight: bold;
  margin: 0.1em;

  border-bottom: 4px solid transparent;
  cursor: pointer;
}

span.answer{
  border: none;
  background-color: transparent;
  border-bottom: 4px solid transparent;
  color: #00587a;
  font-weight: bold;
  margin: 0.1em;
  cursor: pointer;
  transition: 0.5s;
}

p, dt, h1, h2, h3, h4, h5, h6, div.line-block, figure{
  border-left: 10px solid transparent;
  padding-left: 10px !important;
}

div.line-block{
  font-weight: bold;
}

li.selected,
p.selected,
dt.selected,
h1.selected,
h2.selected,
h3.selected,
h4.selected,
h5.selected,
h6.selected,
div.line-block.selected {
  background-color: #F0F4FF;
}

.current, .line-block.current{
  border-left: 10px solid pink !important;
}

a.current, span.quiz.current, span.answer.current{
  border: none;
  border-left: 0px solid transparent !important;
  border-bottom: 4px solid pink;
}

figure img{
  cursor: pointer;
}

div.youtube{
  text-align: center;
  margin: 1.5em;
}

li {
  padding-left: 0;
  border-left: 10px solid transparent;
}

div.line-block{
  font-family: monospace;
}

div.table {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

div.table table{
  margin-left: auto;
  margin-right: auto;
}

div.table table caption{
  margin-bottom: 1.5em;
}

figure{
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

figcaption{
  margin-left: auto;
  margin-right: auto;
}

ol li p {
  border-left: 0px solid transparent !important;
  padding-left: 0px !important;
}

figcaption{
  font-weight: bold;
}

a:hover{
  text-decoration: none !important;
}

h2, p.subtitle{
  color: #00587a;
  font-weight: 600;
  line-height: 1.1;
  margin: 24px 0 16px;
  padding:0;
  font-size: 24px;
  line-height: 30px;
  padding:0 0 7.199999809265137px;
  padding-top: 0.4em;
  background-color: #eee;
  border-left: 10px solid #fff;
}

p.author{
  color: #00587a;
  font-weight: 600;
  line-height: 1.1;
  margin: 24px 0 16px;
  padding:0;
  font-size: 20px;
  line-height:25px
}

blockquote{
  border-left: 10px solid #fff;
}

blockquote p{
  padding-left: 0 !important;
}

